## EDA And Feature Engineering Of Google Play Store Dataset

1) Problem statement.
Today, 1.85 million different apps are available for users to download. Android users have even more from which to choose, with 2.56 million available through the Google Play Store. These apps have come to play a huge role in the way we live our lives today. Our Objective is to find the Most Popular Category, find the App with largest number of installs , the App with largest size etc.
2) Data Collection.

The data consists of 20 column and 10841 rows.

dataset link https://raw.githubusercontent.com/krishnaik06/playstore-Dataset/main/googleplaystore.csv 

### Steps:
1. Data Clearning
2. Exploratory Data Analysis
3. Featur eEngineering

In [212]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

warnings.filterwarnings("ignore")

%matplotlib inline

In [213]:
df=pd.read_csv('https://raw.githubusercontent.com/krishnaik06/playstore-Dataset/main/googleplaystore.csv')

In [214]:
df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite – FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [215]:
df.shape

(10841, 13)

In [216]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10841 non-null  object
 1   Category        10841 non-null  object
 2   Rating          9367 non-null   float64
 3   Reviews         10841 non-null  object
 4   Size            10841 non-null  object
 5   Installs        10841 non-null  object
 6   Type            10840 non-null  object
 7   Price           10841 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10841 non-null  object
 10  Last Updated    10841 non-null  object
 11  Current Ver     10833 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [217]:
# Summary of the dataset

df.describe()

            Rating
count  9367.000000
mean      4.193338
std       0.537431
min       1.000000
25%       4.000000
50%       4.300000
75%       4.500000
max      19.000000

In [218]:
# missing values

df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

### **Insights and Observation**
The dataset has missing values

# __Data Cleaning__

In [219]:
# check if all the data in Review column are numeric
df['Reviews'].unique()

array(['159', '967', '87510', ..., '603', '1195', '398307'], dtype=object)

In [220]:
#df['Reviews'].astype(int)

In [221]:
df['Reviews'].str.isnumeric().sum()

10840

In [222]:
# View the rows of not numeric values

df[~df['Reviews'].str.isnumeric()]

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
10472,Life Made WI-Fi Touchscreen Photo Frame,1.9,19.0,3.0M,"1,000+",Free,0,Everyone,NaN,"February 11, 2018",1.0.19,4.0 and up,NaN

In [223]:
# make a copy of the dataset

df_copy = df.copy()

In [224]:
# drop 10472 row from the dataset
df_copy=df_copy.drop(df_copy.index[10472])

In [225]:
# double check if non numerical values are in the dataset 

df_copy[~df_copy['Reviews'].str.isnumeric()]

Empty DataFrame
Columns: [App, Category, Rating, Reviews, Size, Installs, Type, Price, Content Rating, Genres, Last Updated, Current Ver, Android Ver]
Index: []

In [226]:
# Convert Review Datatype to int    

df_copy['Reviews'] = df_copy['Reviews'].astype(int)

In [227]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            10840 non-null  object
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(1), int32(1), object(11)
memory usage: 1.1+ MB

In [228]:
# check for other numerical variable 
df_copy['Size'].unique()

array(['19M', '14M', '8.7M', '25M', '2.8M', '5.6M', '29M', '33M', '3.1M',
       '28M', '12M', '20M', '21M', '37M', '2.7M', '5.5M', '17M', '39M',
       '31M', '4.2M', '7.0M', '23M', '6.0M', '6.1M', '4.6M', '9.2M',
       '5.2M', '11M', '24M', 'Varies with device', '9.4M', '15M', '10M',
       '1.2M', '26M', '8.0M', '7.9M', '56M', '57M', '35M', '54M', '201k',
       '3.6M', '5.7M', '8.6M', '2.4M', '27M', '2.5M', '16M', '3.4M',
       '8.9M', '3.9M', '2.9M', '38M', '32M', '5.4M', '18M', '1.1M',
       '2.2M', '4.5M', '9.8M', '52M', '9.0M', '6.7M', '30M', '2.6M',
       '7.1M', '3.7M', '22M', '7.4M', '6.4M', '3.2M', '8.2M', '9.9M',
       '4.9M', '9.5M', '5.0M', '5.9M', '13M', '73M', '6.8M', '3.5M',
       '4.0M', '2.3M', '7.2M', '2.1M', '42M', '7.3M', '9.1M', '55M',
       '23k', '6.5M', '1.5M', '7.5M', '51M', '41M', '48M', '8.5M', '46M',
       '8.3M', '4.3M', '4.7M', '3.3M', '40M', '7.8M', '8.8M', '6.6M',
       '5.1M', '61M', '66M', '79k', '8.4M', '118k', '44M', '695k', '1.6M',
       '6.2M', '18k', '53M', '1.4M', '3.0M', '5.8M', '3.8M', '9.6M',
       '45M', '63M', '49M', '77M', '4.4M', '4.8M', '70M', '6.9M', '9.3M',
       '10.0M', '8.1M', '36M', '84M', '97M', '2.0M', '1.9M', '1.8M',
       '5.3M', '47M', '556k', '526k', '76M', '7.6M', '59M', '9.7M', '78M',
       '72M', '43M', '7.7M', '6.3M', '334k', '34M', '93M', '65M', '79M',
       '100M', '58M', '50M', '68M', '64M', '67M', '60M', '94M', '232k',
       '99M', '624k', '95M', '8.5k', '41k', '292k', '11k', '80M', '1.7M',
       '74M', '62M', '69M', '75M', '98M', '85M', '82M', '96M', '87M',
       '71M', '86M', '91M', '81M', '92M', '83M', '88M', '704k', '862k',
       '899k', '378k', '266k', '375k', '1.3M', '975k', '980k', '4.1M',
       '89M', '696k', '544k', '525k', '920k', '779k', '853k', '720k',
       '713k', '772k', '318k', '58k', '241k', '196k', '857k', '51k',
       '953k', '865k', '251k', '930k', '540k', '313k', '746k', '203k',
       '26k', '314k', '239k', '371k', '220k', '730k', '756k', '91k',
       '293k', '17k', '74k', '14k', '317k', '78k', '924k', '902k', '818k',
       '81k', '939k', '169k', '45k', '475k', '965k', '90M', '545k', '61k',
       '283k', '655k', '714k', '93k', '872k', '121k', '322k', '1.0M',
       '976k', '172k', '238k', '549k', '206k', '954k', '444k', '717k',
       '210k', '609k', '308k', '705k', '306k', '904k', '473k', '175k',
       '350k', '383k', '454k', '421k', '70k', '812k', '442k', '842k',
       '417k', '412k', '459k', '478k', '335k', '782k', '721k', '430k',
       '429k', '192k', '200k', '460k', '728k', '496k', '816k', '414k',
       '506k', '887k', '613k', '243k', '569k', '778k', '683k', '592k',
       '319k', '186k', '840k', '647k', '191k', '373k', '437k', '598k',
       '716k', '585k', '982k', '222k', '219k', '55k', '948k', '323k',
       '691k', '511k', '951k', '963k', '25k', '554k', '351k', '27k',
       '82k', '208k', '913k', '514k', '551k', '29k', '103k', '898k',
       '743k', '116k', '153k', '209k', '353k', '499k', '173k', '597k',
       '809k', '122k', '411k', '400k', '801k', '787k', '237k', '50k',
       '643k', '986k', '97k', '516k', '837k', '780k', '961k', '269k',
       '20k', '498k', '600k', '749k', '642k', '881k', '72k', '656k',
       '601k', '221k', '228k', '108k', '940k', '176k', '33k', '663k',
       '34k', '942k', '259k', '164k', '458k', '245k', '629k', '28k',
       '288k', '775k', '785k', '636k', '916k', '994k', '309k', '485k',
       '914k', '903k', '608k', '500k', '54k', '562k', '847k', '957k',
       '688k', '811k', '270k', '48k', '329k', '523k', '921k', '874k',
       '981k', '784k', '280k', '24k', '518k', '754k', '892k', '154k',
       '860k', '364k', '387k', '626k', '161k', '879k', '39k', '970k',
       '170k', '141k', '160k', '144k', '143k', '190k', '376k', '193k',
       '246k', '73k', '658k', '992k', '253k', '420k', '404k', '470k',
       '226k', '240k', '89k', '234k', '257k', '861k', '467k', '157k',
       '44k', '676k', '67k', '552k', '885k', '1020k', '582k', '619k'],
      dtype=object)

In [229]:
# check missing values for Size field

df_copy['Size'].isnull().sum()

0

In [230]:
# Convert K into 1000 and M into 1000000
df_copy['Size'] = df_copy['Size'].str.replace('M', '000000') 
df_copy['Size'] = df_copy['Size'].str.replace('k', '000')

In [231]:
df_copy['Size']
#df_copy['Size'].tail(12)

0                  19000000
1                  14000000
2                 8.7000000
3                  25000000
4                 2.8000000
                ...
10836              53000000
10837             3.6000000
10838             9.5000000
10839    Varies with device
10840              19000000
Name: Size, Length: 10840, dtype: object

In [232]:
# convert Variable with device to nan 
df_copy['Size'] = df_copy['Size'].replace('Varies with device', np.nan)

In [233]:
# check if Variable with device stil existing 
df_copy['Size'].unique()

array(['19000000', '14000000', '8.7000000', '25000000', '2.8000000',
       '5.6000000', '29000000', '33000000', '3.1000000', '28000000',
       '12000000', '20000000', '21000000', '37000000', '2.7000000',
       '5.5000000', '17000000', '39000000', '31000000', '4.2000000',
       '7.0000000', '23000000', '6.0000000', '6.1000000', '4.6000000',
       '9.2000000', '5.2000000', '11000000', '24000000', nan, '9.4000000',
       '15000000', '10000000', '1.2000000', '26000000', '8.0000000',
       '7.9000000', '56000000', '57000000', '35000000', '54000000',
       '201000', '3.6000000', '5.7000000', '8.6000000', '2.4000000',
       '27000000', '2.5000000', '16000000', '3.4000000', '8.9000000',
       '3.9000000', '2.9000000', '38000000', '32000000', '5.4000000',
       '18000000', '1.1000000', '2.2000000', '4.5000000', '9.8000000',
       '52000000', '9.0000000', '6.7000000', '30000000', '2.6000000',
       '7.1000000', '3.7000000', '22000000', '7.4000000', '6.4000000',
       '3.2000000', '8.2000000', '9.9000000', '4.9000000', '9.5000000',
       '5.0000000', '5.9000000', '13000000', '73000000', '6.8000000',
       '3.5000000', '4.0000000', '2.3000000', '7.2000000', '2.1000000',
       '42000000', '7.3000000', '9.1000000', '55000000', '23000',
       '6.5000000', '1.5000000', '7.5000000', '51000000', '41000000',
       '48000000', '8.5000000', '46000000', '8.3000000', '4.3000000',
       '4.7000000', '3.3000000', '40000000', '7.8000000', '8.8000000',
       '6.6000000', '5.1000000', '61000000', '66000000', '79000',
       '8.4000000', '118000', '44000000', '695000', '1.6000000',
       '6.2000000', '18000', '53000000', '1.4000000', '3.0000000',
       '5.8000000', '3.8000000', '9.6000000', '45000000', '63000000',
       '49000000', '77000000', '4.4000000', '4.8000000', '70000000',
       '6.9000000', '9.3000000', '10.0000000', '8.1000000', '36000000',
       '84000000', '97000000', '2.0000000', '1.9000000', '1.8000000',
       '5.3000000', '47000000', '556000', '526000', '76000000',
       '7.6000000', '59000000', '9.7000000', '78000000', '72000000',
       '43000000', '7.7000000', '6.3000000', '334000', '34000000',
       '93000000', '65000000', '79000000', '100000000', '58000000',
       '50000000', '68000000', '64000000', '67000000', '60000000',
       '94000000', '232000', '99000000', '624000', '95000000', '8.5000',
       '41000', '292000', '11000', '80000000', '1.7000000', '74000000',
       '62000000', '69000000', '75000000', '98000000', '85000000',
       '82000000', '96000000', '87000000', '71000000', '86000000',
       '91000000', '81000000', '92000000', '83000000', '88000000',
       '704000', '862000', '899000', '378000', '266000', '375000',
       '1.3000000', '975000', '980000', '4.1000000', '89000000', '696000',
       '544000', '525000', '920000', '779000', '853000', '720000',
       '713000', '772000', '318000', '58000', '241000', '196000',
       '857000', '51000', '953000', '865000', '251000', '930000',
       '540000', '313000', '746000', '203000', '26000', '314000',
       '239000', '371000', '220000', '730000', '756000', '91000',
       '293000', '17000', '74000', '14000', '317000', '78000', '924000',
       '902000', '818000', '81000', '939000', '169000', '45000', '475000',
       '965000', '90000000', '545000', '61000', '283000', '655000',
       '714000', '93000', '872000', '121000', '322000', '1.0000000',
       '976000', '172000', '238000', '549000', '206000', '954000',
       '444000', '717000', '210000', '609000', '308000', '705000',
       '306000', '904000', '473000', '175000', '350000', '383000',
       '454000', '421000', '70000', '812000', '442000', '842000',
       '417000', '412000', '459000', '478000', '335000', '782000',
       '721000', '430000', '429000', '192000', '200000', '460000',
       '728000', '496000', '816000', '414000', '506000', '887000',
       '613000', '243000', '569000', '778000', '683000', '592000',
       '319000', '186000', '840000', '647000', '191000', '373000',
       '437000', '598000', '716000', '585000', '982000', '222000',
       '219000', '55000', '948000', '323000', '691000', '511000',
       '951000', '963000', '25000', '554000', '351000', '27000', '82000',
       '208000', '913000', '514000', '551000', '29000', '103000',
       '898000', '743000', '116000', '153000', '209000', '353000',
       '499000', '173000', '597000', '809000', '122000', '411000',
       '400000', '801000', '787000', '237000', '50000', '643000',
       '986000', '97000', '516000', '837000', '780000', '961000',
       '269000', '20000', '498000', '600000', '749000', '642000',
       '881000', '72000', '656000', '601000', '221000', '228000',
       '108000', '940000', '176000', '33000', '663000', '34000', '942000',
       '259000', '164000', '458000', '245000', '629000', '28000',
       '288000', '775000', '785000', '636000', '916000', '994000',
       '309000', '485000', '914000', '903000', '608000', '500000',
       '54000', '562000', '847000', '957000', '688000', '811000',
       '270000', '48000', '329000', '523000', '921000', '874000',
       '981000', '784000', '280000', '24000', '518000', '754000',
       '892000', '154000', '860000', '364000', '387000', '626000',
       '161000', '879000', '39000', '970000', '170000', '141000',
       '160000', '144000', '143000', '190000', '376000', '193000',
       '246000', '73000', '658000', '992000', '253000', '420000',
       '404000', '470000', '226000', '240000', '89000', '234000',
       '257000', '861000', '467000', '157000', '44000', '676000', '67000',
       '552000', '885000', '1020000', '582000', '619000'], dtype=object)

In [234]:
# convert Sise datatype to float
df_copy['Size'] = df_copy['Size'].astype(float)

In [235]:
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  object
 6   Type            10839 non-null  object
 7   Price           10840 non-null  object
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(2), int32(1), object(10)
memory usage: 1.1+ MB

In [236]:
df_copy['Installs'].unique()

array(['10,000+', '500,000+', '5,000,000+', '50,000,000+', '100,000+',
       '50,000+', '1,000,000+', '10,000,000+', '5,000+', '100,000,000+',
       '1,000,000,000+', '1,000+', '500,000,000+', '50+', '100+', '500+',
       '10+', '1+', '5+', '0+', '0'], dtype=object)

In [237]:
df_copy['Price'].unique()

array(['0', '$4.99', '$3.99', '$6.99', '$1.49', '$2.99', '$7.99', '$5.99',
       '$3.49', '$1.99', '$9.99', '$7.49', '$0.99', '$9.00', '$5.49',
       '$10.00', '$24.99', '$11.99', '$79.99', '$16.99', '$14.99',
       '$1.00', '$29.99', '$12.99', '$2.49', '$10.99', '$1.50', '$19.99',
       '$15.99', '$33.99', '$74.99', '$39.99', '$3.95', '$4.49', '$1.70',
       '$8.99', '$2.00', '$3.88', '$25.99', '$399.99', '$17.99',
       '$400.00', '$3.02', '$1.76', '$4.84', '$4.77', '$1.61', '$2.50',
       '$1.59', '$6.49', '$1.29', '$5.00', '$13.99', '$299.99', '$379.99',
       '$37.99', '$18.99', '$389.99', '$19.90', '$8.49', '$1.75',
       '$14.00', '$4.85', '$46.99', '$109.99', '$154.99', '$3.08',
       '$2.59', '$4.80', '$1.96', '$19.40', '$3.90', '$4.59', '$15.46',
       '$3.04', '$4.29', '$2.60', '$3.28', '$4.60', '$28.99', '$2.95',
       '$2.90', '$1.97', '$200.00', '$89.99', '$2.56', '$30.99', '$3.61',
       '$394.99', '$1.26', '$1.20', '$1.04'], dtype=object)

In [238]:
# remove unwanted symbols
chars_to_remove=['+', ',', '$'] 
cols_to_clean=['Installs','Price']
for char in chars_to_remove:
    for col in cols_to_clean:
        df_copy[col] = df_copy[col].str.replace(char, '')

In [239]:
df_copy['Installs'].unique()

array(['10000', '500000', '5000000', '50000000', '100000', '50000',
       '1000000', '10000000', '5000', '100000000', '1000000000', '1000',
       '500000000', '50', '100', '500', '10', '1', '5', '0'], dtype=object)

In [240]:
df_copy['Price'].unique()

array(['0', '4.99', '3.99', '6.99', '1.49', '2.99', '7.99', '5.99',
       '3.49', '1.99', '9.99', '7.49', '0.99', '9.00', '5.49', '10.00',
       '24.99', '11.99', '79.99', '16.99', '14.99', '1.00', '29.99',
       '12.99', '2.49', '10.99', '1.50', '19.99', '15.99', '33.99',
       '74.99', '39.99', '3.95', '4.49', '1.70', '8.99', '2.00', '3.88',
       '25.99', '399.99', '17.99', '400.00', '3.02', '1.76', '4.84',
       '4.77', '1.61', '2.50', '1.59', '6.49', '1.29', '5.00', '13.99',
       '299.99', '379.99', '37.99', '18.99', '389.99', '19.90', '8.49',
       '1.75', '14.00', '4.85', '46.99', '109.99', '154.99', '3.08',
       '2.59', '4.80', '1.96', '19.40', '3.90', '4.59', '15.46', '3.04',
       '4.29', '2.60', '3.28', '4.60', '28.99', '2.95', '2.90', '1.97',
       '200.00', '89.99', '2.56', '30.99', '3.61', '394.99', '1.26',
       '1.20', '1.04'], dtype=object)

In [242]:
# convert installls to integers and Price to floats

df_copy['Installs'] = df_copy['Installs'].astype(int)
df_copy['Price'] = df_copy['Price'].astype(float)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 13 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  int32
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  object
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
dtypes: float64(3), int32(2), object(8)
memory usage: 1.1+ MB

In [243]:
## Handling last update features

df_copy['Last Updated'].unique()

array(['January 7, 2018', 'January 15, 2018', 'August 1, 2018', ...,
       'January 20, 2014', 'February 16, 2014', 'March 23, 2014'],
      dtype=object)

In [244]:
# convert Last Updated into day time format
df_copy['Last Updated'] = pd.to_datetime(df_copy['Last Updated'])

# Extract day, month and year from the date

df_copy['Day'] = df_copy['Last Updated'].dt.day
df_copy['Month'] = df_copy['Last Updated'].dt.month
df_copy['Year'] = df_copy['Last Updated'].dt.year
df_copy.info()
## Exploratory Data Analysis

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 16 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  int32
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Last Updated    10840 non-null  datetime64[ns]
 11  Current Ver     10832 non-null  object
 12  Android Ver     10838 non-null  object
 13  Day             10840 non-null  int32
 14  Month           10840 non-null  int32
 15  Year            10840 non-null  int32
dtypes: datetime64[ns](1), float64(3), int32(5), object(7)
memory usage: 1.2+ MB

In [248]:
# Remove the Last Updated date from the dataset

df_copy.drop('Last Updated', axis=1, inplace=True)
df_copy.info()

<class 'pandas.core.frame.DataFrame'>
Index: 10840 entries, 0 to 10840
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   App             10840 non-null  object
 1   Category        10840 non-null  object
 2   Rating          9366 non-null   float64
 3   Reviews         10840 non-null  int32
 4   Size            9145 non-null   float64
 5   Installs        10840 non-null  int32
 6   Type            10839 non-null  object
 7   Price           10840 non-null  float64
 8   Content Rating  10840 non-null  object
 9   Genres          10840 non-null  object
 10  Current Ver     10832 non-null  object
 11  Android Ver     10838 non-null  object
 12  Day             10840 non-null  int32
 13  Month           10840 non-null  int32
 14  Year            10840 non-null  int32
dtypes: float64(3), int32(5), object(7)
memory usage: 1.1+ MB

In [249]:
# Save the date into csv file

df_copy.to_csv('data/googleplaystore_cleaned.csv')